.col-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xl-4,

.h3{
    color : black;
}
.link {
    color : #2e2316
}
.link2{
    color : #59452e;
}
.nav {
    display: flex;
    border-top: 1rem;
    border-bottom: 100px;
    margin-top: 1rem;
    margin-bottom: 10rem;
    color : black;
}
.nav-item {
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 100%;
    padding:0 20px;
    border: 2px solid #fff;
    text-align: center;
    cursor: pointer;
    color : black;

}
.main {
    text-align: center;
    width: 100%;
    margin: 0 auto;

}

.userDiv{
    margin: 0 auto;
    width: 100%;
    padding: 100rem;
    border: 2px solid black;
    text-align: center;
    display: inline;
    background-color: black;
    align-items: center;
    justify-content: center;

}
.img {
    margin-top: 100px;
    vertical-align: middle;
    padding: 0px 15px;
    width: 50%;
    align-items: center;
    justify-content: center;

}

.stitle {
    color: black;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5rem;
    display: inline;
    align-items: center;
    justify-content: center;
}

.text{
    display: inline;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.taste{
    display: inline;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}


.infor{
    margin-top: 60px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.image_list{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100rem;
    margin: 0 auto;
}

.ul li {
    display: inline;
    padding:0 10px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
