.col-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xl-4,
.nav {
    display: flex;
    border-bottom: 100px;
    display: flex;
}
.nav-item {
    margin-top: 1rem;
    margin-bottom: 5rem;
    width: 100%;
    padding: 1rem;
    border: 2px solid #fff;
    text-align: center;
}
.main {
    text-align: center;
    width: 100%;
}
.userDiv{
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    border: 2px solid #fff;
    text-align: center;
    display: flex;
    background-color: #ff0000;
}
.img {
    margin-top: 100px;
    vertical-align: middle;
    padding: 0px 15px;
    width: 50%;
}
.stitle {
    color: #059fe7;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5rem;
}

.infor{
    margin-top: 60px;
}
.image_list{
    margin-top: 1rem;
}